[user]
	name = InitialMoon
	email = jieyingqi814@qq.com
[core]
	editor = vim
	quotepath = false
	autocrlf = true
[init]
	defaultBranch = master
[alias]
	co = checkout
	cm = commit
    pf = push --force
    fp = fetch --prune
	cb = checkout -b
	st = status -s
	last = log -1 HEAD
	ls = log --oneline
    lg = log --oneline --decorate --graph --all
    lag = log --decorate --graph --all
	db = branch -d
	mg = merge
[pull]
	rebase = true
[rerere]
	enable = true
[push]
	default = upstream
